
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
        <input type=file name=image>
        <label>Stems :</label>
        <select name="stems_select" width="100px">
            <option value="2">2 Stems</option>
            <option value="4">4 Stems</option>
            <option value="5">5 Stems</option>
        </select>

        <label>Output :</label>
        <select name="output_select" width="100px">
            <option value="mp3">MP3</option>
            <option value="wav">WAV</option>
        </select>

        <label>Output as :</label>
        <select name="output_as_select" width="100px">
            <option value="128">128</option>
            <option value="192">192</option>
            <option value="256">256</option>
            <option value="320">320</option>
        </select>
        
        <label>Cutoff :</label>
        <select name="cutoff_select" width="100px">
            <option value="11KHz">11KHz</option>
            <option value="16KHz">16KHz</option>
        </select>

        <input type=submit value=Upload>
        </form>
</body>
</html>



